// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$good-w-t: rgb(202, 184, 19);
$medium-w-t: rgb(106, 9, 125);
$basic-w-t: rgb(192, 96, 161);
$good: rgba(0, 0, 92, 0.7);
$medium: rgba(106, 9, 125, 0.7);
$basic: rgba(192, 96, 161, 0.7);
$background: white;
$pink-light: rgb(192, 96, 161);
$purple: rgb(106, 9, 125);
$blue-dark: rgb(0, 0, 92);
