<div class="navbar-navigation">
  <div class="my-1">
    <%= link_to "#home", class:"icon-navbar", style:"font-size: 30px", id:"icon-home" do %>
      <i class="fas fa-user-alt"></i>
    <% end %>
  </div>
  <div class="my-2">
    <%= link_to "#skills", class:"icon-navbar", id:"icon-skills" do %>
      <i class="fas fa-laptop-code"></i>
    <% end %>
  </div>
  <div class="my-2">
    <%= link_to "#projects", class:"icon-navbar", id:"icon-projects" do %>
      <i class="fas fa-tasks"></i>
    <% end %>
  </div>
  <div class="my-1">
    <%= link_to "#game", class:"icon-navbar", id:"icon-game" do %>
      <i class="fas fa-gamepad"></i>
    <% end %>
  </div>
</div>

<div class="navbar-social">
  <div>
    <a href="https://www.linkedin.com/in/alexis-lenoir-857496ab/" class="icon-social">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  <div>
    <a href="https://github.com/alex59495" class="icon-social">
      <i class="fab fa-github"></i>
    </a>
  </div>
  <div>
    <a href="mailto:alexis.lenoir60@gmail.com" target="_blank" class="icon-social">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</div>
