.banner {
  background-image: linear-gradient(rgba(38, 0, 255, 0.5), rgba(38, 0, 255, 0.5)), url("https://media.giphy.com/media/YnlDGfCxyOIYTDp86I/giphy.gif");
  background-position: center;
  background-size: cover;
  background-color: #FFFFFF;
  background-blend-mode: luminosity;
  color: white;
  height: 100vh;
    
  .banner-name {
    font-size: 64px;
    font-weight: bold;
  }

  .banner-job {
    font-size: 32px;
  }
}