.banner {
  background-image: linear-gradient(rgba(250,250,250,0), 80%, rgba(250,250,250,1)), url("https://source.unsplash.com/pHnzdSAEkRM");
  background-position: center;
  background-size: cover;
  background-color: #FFFFFF;
  background-blend-mode: luminosity;
  color: white;
  height: 100vh;

  .banner-name {
    
  }

  .banner-job {

  }
}