@media (max-width: 575px) {
  .card-project {
    display: block;
  }
  .card-project-body {
    width: 100%;
  }
  .card-project-background {
    width: 100%;
    min-height: 30vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .card-project-title{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .flip-card {
    width: 50%
  }
}

@media (min-width: 575px) {
  .card-project {
    display: flex;
    height: 40vh;
  }
  .card-project-body {
    width: 50%;
  }
  .card-project-background {
    width: 50%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .card-project-title{
    border-top-left-radius: 8px;
  }
}

.card-project {
  width: 100%;
  box-shadow:  0 7px 30px 0px rgba(150,170,180,0.5);
  border-radius: 8px;
  transition: all 0.5s ease-out;
  &:hover{
    box-shadow:  0 7px 20px 0px $good;
  }
  .card-project-background {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .card-project-body {
    .card-project-title {
      padding: 4px;
      padding-left: 10px;
      font-size: 24px;
      background: linear-gradient(rgba(0, 0, 92, 1), 90%, rgba(255, 255, 255, 0.5));
      color: white;
    }
    .card-project-description {
      padding: 4px;
      padding-left: 10px;
      font-style: italic;
      color: $blue-dark;
    }
  }
}

.without-decoration {
  &:hover{
    text-decoration: none;
  }
}

.flip-card {
  perspective: 1000px;
  height: 16vh; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow:  0 4px 30px 0px rgba(150,170,180,0.5);
  border-radius: 4px;
}

.flip-card-top-background {
  position: absolute;
  height: 20%;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the back side */
.flip-card-back {
  color: black;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.good {
  background-color: $good;
}
.medium {
  background-color: $medium;
}
.basic {
  background-color: $basic;
}