@media (max-width: 575px) {
  .container-cv{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container-profile{
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
}

@media (min-width: 575px) {
  .container-cv{
    display: flex
  }
  .container-profile{
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 90px;
  }
}

@media(min-width: 990px) {
  .container-projects{
    display: flex;
    flex-wrap: wrap;
  }
}