@media (max-width: 1000px) {
  #gameCanvas {
    background-color: $blue-dark;
    border: 0.5px solid white;
    width: 300px;
    height: 300px;
  }
  .game-phone {
    color: red;
    text-align: center;
  }
  .game-pc {
    display: none;
  }
}

@media (min-width: 1000px) {
  #gameCanvas {
    background-color: $blue-dark;
    border: 0.5px solid white;
    width: 400px;
    height: 400px;
  }
  .game-phone {
    display: none;
  }
}


@media (min-width: 800px) {
  .game-text {
    width: 75%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .game-text {
    width: 60%;
    margin: auto;
  }
}

.game-text {
  p {
    text-align: justify;
  }
}
