.icon-navbar {
  color: $blue-dark;
  font-size: 20px;
  &:hover {
    color: $purple;
  }
}

.icon-social {
  color: $blue-dark;
  font-size: 14px;
  &:hover {
    color: $purple;
  }
}

.icon-social-large {
  color: $blue-dark;
  font-size: 22px;
  &:hover {
    color: $purple;
  }
}

.active {
  color: $purple;
}

.color-impossible{
  background-color: black;
  height: 3vh;
  width: 3vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-unbelievable{
  background-color: red;
  height: 3vh;
  width: 3vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-impressive{
  background-color: green;
  height: 3vh;
  width: 3vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-good-w-trans{
  background-color: $good-w-t;
  height: 3vh;
  width: 3vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-good{
  background-color: $good;
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-medium-w-trans{
  background-color: $medium-w-t;
  height: 3vh;
  width: 3vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-medium{
  background-color: $medium;
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-basic-w-trans{
  background-color: $basic-w-t;
  height: 3vh;
  width: 3vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-basic{
  background-color: $basic;
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.icon-eye {
  font-size: 42px;
  color: $blue-dark;
  &:hover{
    color: $purple;
  }
}