.icon-navbar {
  color: yellow;
  font-size: 20px;
  &:hover {
    color: rgb(223, 223, 0);
  }
}

.icon-social {
  color: yellow;
  font-size: 12px;
  &:hover {
    color: rgb(223, 223, 0);
  }
}

.color-unbelievable{
  background-color: red;
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-impressive{
  background-color: green;
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-good-w-trans{
  background-color: rgb(255, 180, 255);
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-good{
  background-color: $good;
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-medium-w-trans{
  background-color: rgb(214, 255, 180);
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-medium{
  background-color: $medium;
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-basic-w-trans{
  background-color: rgb(180, 250, 255);
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-basic{
  background-color: $basic;
  height: 5vh;
  width: 5vh;
  border: 1px gray solid;
  border-radius: 4px;
}