.modal {

  .modal-content {
    background-color: $background;
  }

  .modal-header{
    border-bottom: 1px solid $blue-dark;
  }
  
  .modal-footer {
    border-top: 1px solid $blue-dark;
  }

  .keys {
    font-size: 20px;
  }
  
  .snake-lvl{
    font-size: 14px;
    font-style: italic;
    text-align: center;
  }

  .snake-scores{
    font-size: 14px;
    width: 50%;
    margin: auto;
  }
}
